<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.topstar.volunteer.mapper.RoleChannelMapper" >
  <resultMap id="BaseResultMap" type="com.topstar.volunteer.entity.RoleChannel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ROLE_ID" property="roleId" jdbcType="INTEGER" />
    <result column="CHANNEL_ID" property="channelId" jdbcType="INTEGER" />
    <result column="CR_USER" property="crUser" jdbcType="VARCHAR" />
    <result column="CR_TIME" property="crTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ID, ROLE_ID, CHANNEL_ID, CR_USER, CR_TIME
  </sql>
  
  
  <select id="getChannelIds" resultType="java.lang.Long" parameterType="java.lang.Long">
  select channel_id from role_channel where role_id = #{roleId}
  </select>
  
  <delete id="deleteByRoleId" parameterType="java.lang.Long">
  	delete from role_channel where role_id = #{roleId}
  </delete>
  
  <delete id="deleteByChannelId" parameterType="java.lang.Long">
  	delete from role_channel where channelId = #{channelId}
  </delete>
  
</mapper>